<div>
  <ul style="list-style: none">
    <li *ngFor="let num of arr; let idx = index">
      {{idx + 1 + '. '}} <strong>{{num}}</strong>
    </li>
  </ul>
</div>
<hr>
<hr>
<br>


<div>
  <ul>
    <li *ngFor="let post of posts">
      <p>{{post.title}}</p>
      <strong> Author: {{post.author}}</strong>
      <ul>
        <p>Comments:</p>
        <li *ngFor="let comment of post.comments">
          <small>{{comment.name}} : </small>
          <span>{{comment.text}}</span>
        </li>
        <hr>
      </ul>
    </li>
  </ul>
</div>
