<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    class="card">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input
        formControlName="email"
        type="text" placeholder="Email">
      <div
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched "
        class="validation">
        <small *ngIf="form.get('email')?.errors?.['required']">
          The field must not be empty!
        </small>
        <small *ngIf="form.get('email')?.errors?.['email']">
          Enter email address correctly!
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Password</label>
      <input
        formControlName="password"
        type="password" placeholder="Password">
      <div
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched "
        class="validation">
        <small *ngIf="form.get('password')?.errors?.['required']">
          The field must not be empty!
        </small>
        <small *ngIf="form.get('password')?.errors?.['minlength']">
          Password length must be at least
          {{form.get('password')?.errors?.['minlength'].requiredLength}} symbols.
          Current symbols
          {{form.get('password')?.errors?.['minlength'].actualLength}}
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Address</h2>

      <div class="form-control">
        <label>Country</label>

        <select formControlName="country">
          <option value="pl">Poland</option>
          <option value="ua">Ukraine</option>
          <option value="by">Belarus</option>
        </select>
      </div>

      <div class="form-control">
        <input formControlName="city" type="text" placeholder="city">
      </div>

      <button (click)="setCapital()" class="btn" type="button">Choice the capital</button>
    </div>

    <div
      formGroupName="skills"
      class="card">
      <h2>Your skill</h2>
      <button
        (click)="addSkill()"
        class="btn" type="button">Add skill
      </button>

<!--  IMPORTANT :   Pay attention to *ngFor and   receiving
controls (follow to fun getControls() and look  at the implementation) -->
      <div
        *ngFor="let control of getControls(); let i = index"
        class="form-control">
        <label>Skill {{i + 1}}</label>
        <input
          [formControlName]='i'
          type="text">
      </div>
    </div>

    <button [disabled]="form.invalid" class="btn" type="submit">Send</button>

  </form>
</div>



