p{
  font-size: 1.5rem;
  text-align: center;
}

.pink{
  width: 100px;
  height: 100px;
  margin: 10px;
  background: #f506a9;
}
.blue{
  width: 100px;
  height: 100px;
  margin: 10px;
  background: blue;
}
.yellow{
  width: 100px;
  height: 100px;
  margin: 10px 220px  ;
  background: #f8ec06;
}
