<h1 class="container">This is Angular app</h1>
<button
  (click)="backgroundToggle = !backgroundToggle"
  class="btn">Toggle
</button>

<h2>Directives: </h2>
<hr>
<p>[ngStyle]</p>
<div [ngStyle]="{
width: '100px',
height: '100px',
margin: '10px',
background: backgroundToggle ? 'red' : 'green'
}"></div>
<hr>
<p>[ngClass](use if you have  many classes)</p>
<div [ngClass]="{
pink: !backgroundToggle,
blue: backgroundToggle
}"></div>
<hr>
<p>[class](use if you have  1 or 2 classes)</p>
<div [class.blue]="!backgroundToggle"
     [class.pink]="backgroundToggle"
></div>


<hr>


