<button (click)="toggle = !toggle"
        class="btn"
> Color Toggle
</button>

<!--<div [ngStyle]="{-->
<!--  width: '450px',-->
<!--  border: '3px solid black',-->
<!--  padding: '1rem',-->
<!--  marginBottom: '1rem',-->
<!--  color: 'white',-->
<!--  backgroundColor: backgroundToggle ? 'gray' : 'green'-->
<!--}">-->

<!--  <h2>-->
<!--    Post title.-->
<!--  </h2>-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio hic maiores minus molestias officiis? Aliquam,-->
<!--    asperiores aspernatur deleniti doloribus esse est mollitia non quidem repellendus voluptatem!-->
<!--    Fuga obcaecati placeat quas?</p>-->
<!--</div>-->


<hr>
<!--<div [ngClass]="{-->
<!--red: backgroundToggle,-->
<!--blue: !backgroundToggle-->
<!--}">-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, possimus.</p>-->
<!--</div>-->
<!--<hr>-->
<!--<div [class.blue]="backgroundToggle"-->
<!--     [class.red]="!backgroundToggle"-->
<!--&gt;-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, possimus.</p>-->
<!--</div>-->

<span>directive: *ngIf else:</span>
<p *ngIf="toggle; else blueContainer" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem,
  velit.</p>
<ng-template #blueContainer>
  <p class="blue"> Lorem ipsum dolor sit amet. Quidem, velit.</p>
</ng-template>

<span>directive: [ngSwitch]:</span>
<br>
<button (click)="toggle = 11" class="btn">set default</button>
<div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="red">Lorem ipsum dolor sit amet.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor sit amet Lorem ipsum dolor..</p>
  <p *ngSwitchDefault>Lorem ipsum dolor.</p>
</div>
