.post{
  width: 450px;
  border: 2px solid #a28c8c;
  padding: 1rem;
  margin-bottom: 1rem;
}
.btn{
  width: 120px;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background: #7b05fa;
  margin: 10px;
}
.red{
  color: white;
  background: red;
}
.blue{
  color: white;
  background: #027ad7;
}
